<a href="https://twitter.com/nya3style3" class="footer-twitter"></a>
<a href="https://github.com/sutekina/sutekina-web" class="footer-github"></a> 
<a href="https://twitter.com/babyoumine" class="footer-twitter"></a>