<div class="footer-container">
    <div class="footer-info">
        <span>Info</span>
        <a href="/team">Team</a>
        <a href="/status">Status</a>
        <a href="/connect">Switcher</a>
    </div>
    <div class="footer-socials">
        <a href="https://sutekina.tk/discord" class="footer-discord"></a>
        <a href="https://github.com/sutekina/sutekina-web" class="footer-github"></a>
    </div>
</div>