<a href="https://sutekina.tk/discord" class="footer-discord"></a>
<a href="https://github.com/sutekina/sutekina-web" class="footer-github"></a> 
<a href="https://twitter.com/babyoumine" class="footer-twitter"></a>