<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!-- this has to be adjusted to the equivelant site :3 -->
<title>
    <% if (page.title) { %>
        <%= page.title %> // <%= page.app_name %>
    <% } else { %>
        SUTEKINA
    <% } %>
</title>
<meta name="description" content="BALLS">
<!-- <meta name="robots" content="index, follow"> -->
<meta name="pinterest" content="nopin"/>

<!-- important need to update this -->
<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png">
<link rel="apple-touch-icon" sizes="57x57" href="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="/public/css/exo2.css" rel="stylesheet">
<!-- <link rel="manifest" href="/public/img/favicon/site.webmanifest"> -->
<!-- <link rel="mask-icon" href="/public/img/favicon/safari-pinned-tab.svg" color="#4491EA"> -->
<!-- <meta name="msapplication-config" content="/public/img/favicon/browserconfig.xml"> -->
<meta name="msapplication-TileColor" content="#7765E3">
<meta name="theme-color" content="#7765E3">

<meta name="twitter:card" content="summary"/>
<meta name="twitter:image" content="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png">
<meta property="og:url" content="<%= config.domains.base %>"/>
<meta property="og:title" content="<%= config.app_name %>" />
<meta property="og:description" content="COCK LOL!." />
<meta property="og:image" content="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png"/>
<meta itemprop="thumbnailUrl" content="https://cdn.discordapp.com/attachments/746041743622799591/816991634264424488/img_0.png" name="thumbnail">