<div class="header-container">
    <a href="/home" class="header-icon" tabindex="1"></a>

    <nav>
        <a href="/leaderboard" tabindex="1">leaderboard</a>
        <a href="/beatmaps" tabindex="1">beatmaps</a>
        <a href="/information" tabindex="1">information</a>
    </nav>

    <form method="GET" action="/search" class="header-search">
        <input class="header-search-input" type="search" name="query">
        <div class="header-search-icon-container" tabindex="1">
            <div class="header-search-icon"></div>
        </div>
    </form>
    <%- include("../js/headerSearch") %> 
    <div class="header-user-icon" tabindex="1"></div>
</div>