<div class="header-container">
    <div class="header-flexbox">
        <a href="/home" class="header-icon" tabindex="1"><div></div></a>
        <nav class="header-nav">
            <button href="/home" name="home" class="nav-item item-has-sub" tabindex="1">
                <span>home</span>
                <div>
                    <a href="/home/team">team</a>
                </div>
            </button>
            <a href="/beatmaps" name="beatmaps" class="nav-item" tabindex="1">beatmaps</a>
            <a href="/rankings" name="rankings" class="nav-item item-has-sub" tabindex="1">rankings</a>
            <a href="/help" name="help" class="nav-item item-has-sub" tabindex="1">help</a>
        </nav>
        <%- include("../js/headerNavSelected") %>
    </div>

    <div class="header-flexbox">
        <form method="GET" action="/search" class="header-search">
            <input class="header-search-input" type="search" name="query" tabindex="1">
            <div class="header-search-icon-container js-enter" tabindex="1">
                <div class="header-search-icon"></div>
            </div>
        </form>
        <%- include("../js/headerSearch") %> 
        <div class="header-user-icon js-enter" tabindex="1"></div>
        <div class="header-dropdown js-enter" tabindex="1"><span>☰</span></div>
        <%- include("../js/headerDropdown") %>
    </div>
</div>