<%= JSON.stringify(page.beatmapSet)%>

<div class="options"></div>
<div class="options"></div>

<div class="beatmapsets-container">
    <div class="beatmapset-header">

    </div>
    <div class="beatmapset-info">

    </div>
</div>

<div class="beatmapset-leaderboard">
    
</div>