<div class="clans-container">
    <div class="options">
        <div class="options-button options-vn" data-name="vn">vanilla</div>
        <div class="options-button options-rx" data-name="rx">relax</div>
        <div class="options-button options-ap" data-name="ap">autopilot</div>  
    </div>
    <div class="options">
        <div class="options-button options-std" data-name="std">standard</div>
        <div class="options-button options-taiko" data-name="taiko">taiko</div>
        <div class="options-button options-catch" data-name="catch">catch</div>
        <div class="options-button options-mania" data-name="mania">mania</div>
    </div>
    <div class="pagination-container"></div>
    <table class="player-table">
        <thead>
            <tr>
                <th colspan="3"></th>
                <th class="player-accuracy">Accuracy</th>
                <th class="player-playcount">Play count</th>
                <th>PP</th>
            </tr>
        </thead>
        <tbody class="player-table-body">
            
        </tbody>
    </table>
    <div class="pagination-container"></div>
</div>
<!-- <%- include('../js/twemoji') %>
<%- include('../js/fetchLeaderboard') %>   -->