<h1 class="connect-title">Recommended</h1>

<div class="connect-container">
    <ul>
        <li>
            <div class="connect-image" style="background-image: url(/public/media/images/connect/shortcut.PNG);"></div>
            <span>Create a shortcut from the osu.exe in your osu folder.</span>
        </li>
        <li>
            <div class="connect-image" style="background-image: url(/public/media/images/connect/properties.PNG);"></div>
            <span>Right click the shortcut and open properties.</span>
        </li>
        <li>
            <div class="connect-image" style="background-image: url(/public/media/images/connect/devserver.PNG);"></div>
            <span>Add <code>-devserver <%= config.domains.base %></code> to the target section.</span>
        </li>
    </ul>
</div>

<span>Only use switcher if devserver isn't working, switcher isn't as reliable and might not be supported in the future.</span>

<a class="connect-switcher" href="/public/media/executables/switcher.exe">fallback switcher</a>