<div class="container">
    <h1 class=title>Welcome to Sutekina!</h1>
    <div class="question-group">
        <div class="question">
            <h2 class="question-title">What is this?</h2>
            <p class="question-answer">Sutekina is a private osu! server based on cmyui's Gulag, meaning it acts very similarly to the official osu! servers but with some small differences. It's most notable difference is the language in which the backend was written in.</p>   
        </div>
        <div class="question">
            <h2 class="question-title">What is different than Bancho?</h2>
            <p class="question-answer">We offer the same services as the official osu! servers do such as fully functional mutiplayer lobbies, country and friends leaderboard, spectating, etc. The main difference is the language in which the server is written in and the addition of free osu!supporter for every user. </p>
        </div>
        <div class="question">
            <h2 class="question-title">Can I get banned on official servers for playing on here?</h2>
            <p class="question-answer">Of course not. Playing on Sutekina will not get your account banned anywhere since we are not affiliated with osu! in any way. Accessing other servers than the official one is also not against osu!'s terms of services having therefore no risks of getting your account restricted. Although it is safe to play on Sutekina, the use of cheats on private servers may flag your client and in consequence, get your bancho account restricted. Please don't cheat.</p>   
        </div>
    </div>
    <a href="/connect">
        <button class="button" style="vertical-align:middle"><span>Server Switcher</span></button>
    </a>
</div>




