<home>
    <a href="https://www.pixiv.net/en/artworks/94256480">
        <img src="/public/media/images/home.png"></img>
    </a>
    <info>
        <count-container>
            <div>
                <span>
                    <count id="online"><%= page.userCount.online %></count> ONLINE
                </span>
                <span>
                    <count id="total"><%= page.userCount.total %></count> TOTAL
                </span>
            </div>
        </count-container>
        <h1>osu!<%= config.app_name %></h1>
        <p>sutekina is a private osu! server based on cmyui's gulag, meaning it acts very similarly to the official osu! servers but with some extra features.</p>   
    </info>
</home>

<connect>
    <h1>how to connect?</h1>
    <ul>
        <li>
            <div style="background-image: url(/public/media/images/connect/shortcut.PNG);"></div>
            <span>create a shortcut from the osu.exe in your osu folder.</span>
        </li>
        <li>
            <div style="background-image: url(/public/media/images/connect/properties.PNG);"></div>
            <span>right click the shortcut and open properties.</span>
        </li>
        <li>
            <div style="background-image: url(/public/media/images/connect/devserver.PNG);"></div>
            <span>add <code>-devserver <%= config.domains.base %></code> to the target section.</span>
        </li>
    </ul>
</connect>




