<h1 class="rules-title">Rules</h1>

<div class="rules-container">
    
    <div class="rule">
        <div class="rule-info">Hover to view</div>
    <h2 class="indiv-rules">Behaviour</h2>

    <div class="rules-content">We ask users of Sutekina to keep a generally positive and non-toxic behaviour for general well-being of everyone included. 
    Administrators and moderators have all their right to punish users, going from temporary prevention of sending messages to permanent restriction, depending on the severity of what has been said.
    Racial slurs, political opinions, phobic insults and all form of harassment is not welcome on Sutekina. Any infraction to keeping the environment enjoyable for everyone will lead to consequences.</div>

    </div>
    
    <div class="rule">
        <h2 class="indiv-rules">Cheating</h2>
        <div class="rule-info">Hover to view</div>
        <div class="rules-content">Cheating is strictly forbidden on Sutekina in all modes and will result in an immediate and permanent ban with a chance to appeal after 3 months. 
        Using third party modifications to alter gameplay is and will always be considered cheating to moderators and administrators.
        Gamma is allowed since it does not modify gameplay directly but is rather
        considered a monitor setting. If you have any questions or concern regarding the clarity of this specific rule, do not hesitate to contact
        server administrators or helpers, they are here for your questions.</div>

    </div>

    <div class="rule">
        <h2 class="indiv-rules">Multi-accounting</h2>
        <div class="rule-info">Hover to view</div>
        <div class="rules-content">Multi-accounting is completely prohibited for, notably, the degradation of other users' experience on Sutekina. 
        This offense is bannable and will result in a permanent ban with a chance to appeal after 3 months have passed. Staff can be flexible with your
        punition depending on your general behaviour, your honesty and cooperation with them. After all, each staff member has the power to punish users according to the severity of infractions.</div>

    </div>

</div>
