<h1 class="team-title">Our team</h1>
<div class="team-container">

<div class="team-mem">
    
    <div class="owners">Felix</div> <img src="https://a.sutekina.tk/3" class="pfp"></img>
        <div class="desc">
            <li>Owner</li>
            <li>Lead Developer</li>
            <li>JavaScript Pioneer</li>
            <li>Major Website Contribution</li>
            <li>Very Attractive</li>
        </div>
    </div>
    
   

<div class="team-mem">
    <div class="owners">BadGraph_</div> <img src="https://a.sutekina.tk/9" class="pfp"></img>
        <div class="desc">
            <li>Co-Owner</li>
            <li>Small Developer</li>
            <li>JavaScript Apprentice</li>
            <li>Animation Designer</li>
            <li>Very Sigma</li>
    </div>

</div>

<div class="team-mem">
    
    <div class="bns">T-Money</div> <img src="https://a.sutekina.tk/32" class="pfp"></img>
        <div class="desc">
            <li>Moderator</li>
            <li>Epic Tourney Player</li>
            <li>Numerous Contributions To Nomination System</li>
        </div>
    </div>

    <div class="team-mem">
    
        <div class="designers">Hana</div> <img src="https://a.sutekina.tk/8" class="pfp"></img>
            <div class="desc">
                <li>Mascot Artist</li>
                <li>Lead Designer</li>
            </div>
        </div>



</div>