<h1 class="team-title">Our team</h1>
<div class="team-container">
    <a href="/users/Felix" class="team-member">
        <div class="team-name team-priv-owner">Felix</div>
        <img src="https://<%- config.domains.avatar %>/3" class="team-pfp"></img>
        <ul class="team-desc">
            <li>Owner</li>
            <li>Lead Developer</li>
            <li>JavaScript Pioneer</li>
            <li>Major Website Contribution</li>
            <li>Very Attractive</li>
        </ul>
    </a>
        
    <a href="/users/BadGraph_" class="team-member">
        <div class="team-name team-priv-owner">BadGraph_</div> 
        <img src="https://<%- config.domains.avatar %>/9" class="team-pfp"></img>
        <ul class="team-desc">
            <li>Co-Owner</li>
            <li>Small Developer</li>
            <li>JavaScript Apprentice</li>
            <li>Animation Designer</li>
            <li>Very Sigma</li>
        </ul>
    </a>

    <a href="/users/T-Money" class="team-member">
        <div class="team-name team-priv-bn">T-Money</div>
         <img src="https://<%- config.domains.avatar %>/32" class="team-pfp"></img>
        <ul class="team-desc">
            <li>Moderator</li>
            <li>Epic Tourney Player</li>
            <li>Numerous Contributions To Nomination System</li>
        </ul>
    </a>

    <a href="/users/Hana" class="team-member">
        <div class="team-name team-priv-designer">Hana</div> 
        <img src="https://<%- config.domains.avatar %>/8" class="team-pfp"></img>
        <ul class="team-desc">
            <li>Mascot Artist</li>
            <li>Lead Designer</li>
        </ul>
    </a>
</div>